<section class="content-header">
  <h1>身份识别卡管理<small> 身份识别卡管理/身份识别卡生成</small></h1>
  <ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li>控制台</li>
    <li class="active">身份识别卡管理</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-7">
      <div class="box box-success">
        <div class="box-header with-border">
          <i class="fa fa-list"></i>
          <h3 class="box-title">身份识别卡列表</h3>
        </div>
        <div class="box-body">
          <form role="form" class="form-horizontal">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="请输入身份识别卡号" id="card-no" maxlength="15">
              <span class="input-group-btn">
                <a class="btn btn-info btn-flat" href="javascript:;" id="add-card">注册识别卡</a>
              </span>
            </div>
          </form>
          <br />
          <table class="table table-bordered table-condensed table-striped table-hover text-center" id="table-card">
            <thead>
              <tr>
                <th>编号</th>
                <th>状态</th>
                <th>添加时间</th>
              </tr>
            </thead>
            <tbody>
              <tr><td colspan="3"><p class="no-data">暂无数据</p></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="box box-success">
        <div class="box-header with-border">
          <i class="fa fa-id-card"></i>
          <h3 class="box-title">卡片样式</h3>
        </div>
        <div class="box-body">
          <div class="text-center card-show">
            <div id="card-fan"></div>
          </div>
          <div class="text-center card-show">
            <div id="card-zheng"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@section styles{
  <link href="~/bower_components/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
  <style>
    .card-show { padding: 0.5em 0; }
    #table-card tbody tr { cursor: pointer; }
      #table-card tbody tr.on { background-color: Highlight; }
  </style>
}
@section scripts{
  <script src="~/bower_components/sweetalert2/sweetalert2.all.min.js"></script>
  <script>
    $(function () {
      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000
      });

      // 添加卡号
      $('#add-card').on('click', function () {
        var $cno = $('#card-no').val();
        if (!$cno || $cno.length != 15) {
          alert('卡号无效！');
          return;
        }
        $.jsonResultPostHandle('/Identify/AddCard', { no: $cno }, function (res) {
          $('#card-no').val('');
          Toast.fire({
            type: 'success',
            title: '添加成功'
          });
        });
      });

      // 检索卡号
      $('#card-no').on('input propertychange', function () {
        var $cno = $('#card-no').val();
        $('#table-card tbody').find('tr').remove();
        $('#table-card tbody').append($('<tr><td colspan="3"><p class="no-data">暂无数据</p></td></tr>'));
        $.jsonResultGetHandle('/Identify/SearchCard', { t: $cno }, function (res) {
          if (res.length > 0) {
            $('#table-card tbody').find('tr').first().remove();
          }
          for (var i = 0; i < res.length; i++) {
            $('#table-card tbody').append($('<tr data-nid="' + res[i].No + '"><td>' + res[i].No + '</td><td>' + statusText(res[i].ZhuangTai) + '</td><td>' + res[i].AddTime.jsonToDateString() + '</td></tr>'));
          }
        });
      });
      function statusText(zt) {
        switch (zt) {
          case 1:
            return '待绑定';
          case 2:
            return '已绑定';
          case -1:
            return '已弃用';
          default:
            return '未知';
        }
      }

      // 显示卡片样式
      $('#table-card tbody').on('click', 'tr', function () {
        $(this).addClass('on').siblings('tr').removeClass('on');
        var $nid = $(this).data('nid');
        $('#card-zheng').empty().append($('<img src="/Content/image/yiyang-fan.jpg" />'));
        $('#card-fan').empty().append($('<img src="/Identify/BarCode?text=' + $nid + '" />'));
      });
    });
  </script>
}